a {
  color: inherit;
  text-decoration: none;
}
button {
  padding: 0;
  margin: 0;
  border: 0;
  background: none;
  font: inherit;
}

.wrap {
  position: relative;
  min-height:100vh;
  background: white;
  z-index: 10000;
  transition: 0.7s all ease;
}

.image-bind {
  position:relative;
  padding-top:60%;
  background:#eee;
}
.image-bind-vertical {
  padding-top:150%;
}
.image-bind img {
  position:absolute;
  left:0;
  top:0;
  width:100%;
}

.common-header {
  position: fixed;
  left: 0;
  top: 0;
  display: flex;
  justify-content: space-between;
  width: 100%;
  z-index: 100;
  background: rgba(255,255,255,0.9);
}
.common-header a {
  display: block;
  padding: 15px;
}
.common-header button {
  padding: 15px;
}
.banner {
  position:relative;
  padding-top:52.5%;
  background:#eee;
}
.banner img {
  position:absolute;
  left:0;
  top:0;
  width:100%;
}
.carousel {
  position:relative;
  padding-top:100%;
  background:#eee;
}
.carousel-mask {
  position:absolute;
  left:0;
  top:0;
}
.carousel-mask ul {
  display:flex;
}
.carousel-mask li {
  min-width:100%
}
.carousel-mask img {
  width:100%;
  vertical-align:top;
}
.carousel-nav {
  position:absolute;
  left:50%;
  bottom:15px;
  display:flex;
  justify-content:center;
  transform:translate(-50%, 0);
}
.carousel-nav li {
  width:10px;
  height:10px;
  margin-right:5px;
  border:1px solid #000;
}
.campaign-list {}
.campaign-list ul {
  display:flex;
  flex-wrap:wrap;
}
.campaign-list li {
  width:50%;
}
.campaign-list a {
  display:block;
  width:100%;
  padding:5%;
  box-sizing:border-box;
}
.campaign-list dl {
  padding-top:1em;
}
.campaign-list dt {
  font-size:.75em;
}
.campaign-list dd {
  font-size:.625em;
  margin-top:0.5em;
  color:#aaa;
}
.product-info {}
.product-info .info {
  padding:0 15px;
}
.product-info h2 {
  font-size:1.5em;
  font-weight:bold;
  margin:0.7em 0;
}
.product-info p {
  margin:1em 0;
  color:#aaa;
  font-size:.815em;
  line-height:1.5;
}
.product-list {}
.product-list li {
  display:flex;
}
.product-list li a {
  flex:1;
  display:flex;
  align-items:center;
  padding:15px;
  overflow:hidden;
}
.product-list li img {
  width:50px;
}
.product-list li dl {
  padding-left:10px;
  flex:1;
  font-size:0.815em;
}
.product-list li dt {
  overflow:hidden;
  white-space:nowrap;
  text-overflow:ellipsis;
}
.product-list li dd {
  overflow:hidden;
  white-space:nowrap;
  text-overflow:ellipsis;
}
.product-list li dd strong {
  font-weight:bold;
  color:orange;
  margin-right:5px;
}
.product-list li .btn-like {
  width:50px;
  height:50px;
  padding:15px;
}


.side-navigation {
  position: fixed;
  right: 0;
  top: 0;
  width: 80%;
  height: 100%;
  padding-bottom: 41px;
  background: #111;
  box-sizing: border-box;
  color: white;
  /* transform */
  /* 형태를 변화시킴 */
  z-index: 100;
}
.side-navigation .tool-area {
  text-align: right;
}
.side-navigation .tool-area a {
  display: inline-block;
  padding: 10px;
}
.side-navigation .nav-area {
  position: absolute;
  left: 0;
  right: 0;
  top: 25px;
  bottom: 41px;
  font-size: 20px;
  font-weight: bold;
  overflow-y: auto;
}
.side-navigation .nav-area ul {
  margin: 30px 0;
}
.side-navigation .nav-area a {
  display: block;
  padding: 6px 20px 4px;
}
.side-navigation .member-area {
  position: absolute;
  bottom: 0;
  left: 0;
  display: flex;
  width: 100%;
  font-size: 11px;
  border-top: 1px solid #ebebeb;
}
.side-navigation .member-area a {
  flex: 1;
  text-align: center;
  padding: 15px;
  background: #111;
}
.side-navigation .member-area a + a {
  border-left: 1px solid #ebebeb;
}
.wrap-dimd {
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background: #000;
  opacity: 0;
  z-index: 200;
  transform: translate(-100%, 0);
  transition: 0.3s opacity ease;
}

.side-navigation-on .wrap {
  transform: translate(-80%, 0);
}
.side-navigation-on .wrap-dimd {
  opacity: 0.7;
  transform: translate(0, 0);
}


