body {
  margin:0;
  font-size:14px;
}
.header {
  background:royalblue;
}
.header-wrap {
  padding:15px 15px 0;
}
.header .logo-area {
  display:flex;
  align-items:center;
  color:white;
}
.header .logo-area h1 {
  flex:1;
  margin:0;
  font-size:1.3em;
  text-align:center;
}
.header .logo-area .btn-hamburger {
  order:-1;
}
/*
 * :before (CSS 2.1때 문법)
 * IE8까지 지원
 * ::before (CSS 3 문법)
 * IE9까지 지원
 */
 /*
.header button::before {
  content:'';
  display:block;
  width:22px;
  height:16px;
  background:url('sp_main.png') -480px -47px no-repeat;
  background-size:519px 516px;
}
*/
.header button {
  margin:0;
  padding:0 10px;
  border:0;
  background:none;
  /* iOS */
  -webkit-apperance:none;
  /* inherit */
  color: inherit;
}
.header .input-area {}
.header .input-area .inp-search {
  display:block;
  width:100%;
  padding:8px 15px 5px;
  margin:15px 0;
  /* fonts */
  font-size:inherit;
  line-height:inherit;
  font-family:inherit;
  box-sizing:border-box;
  /* iOS */
  -webkit-appearance:none;
  border:1px solid #ddd;
  border-radius:0;
}
.header .nav-area {
  display:flex;
  background:white;
  border-bottom:1px solid #ddd;
}
.header .nav-area ul {
  flex:1;
  display:flex;
  overflow:hidden;
}
.header .nav-area a {
  min-width:55px;
  display:block;
  padding:8px 10px 6px;
  color:#000;
  text-decoration:none;
  text-align:center;
}
.header .nav-area .btn-nav {
  border-left:1px solid #ddd
}
.header .nav-area ul,
.header .nav-area li {
  padding:0;
  margin:0;
  list-style:none;
}

/* container */
body {
  background:#eee;
}
.container {
  position:relative;
  margin:5px 0;
  padding:10px 0 0;
  background:#fff;
}
.container h2 {
  margin:0;
  padding:0 15px;
  font-size:1em;
}
.container h2 a {
  display:block;
  color:inherit;
  text-decoration:none;
}

.lst-broadcast,
.lst-broadcast li {
  padding:0;
  margin:0;
  list-style:none;
}
.lst-broadcast {
  padding:0 20px;
  overflow:hidden;
}
.lst-broadcast li {
  width:50%;
  padding-top:5px;
  float:left;
  box-sizing:border-box;
}
/* 1번째 */
.lst-broadcast li:first-of-type {}
/* 마지막 */
.lst-broadcast li:last-of-type {}
/* 하나만 있는 경우 */
.lst-broadcast li:only-of-type {}
/* n번째 */
.lst-broadcast li:nth-of-type(even) {
  padding-left:5px;
}
.lst-broadcast li:nth-of-type(odd) {
  padding-right:5px;
}
.lst-broadcast li a {
  color:#000;
  text-decoration:none;
}
.lst-broadcast li img {
  width:100%;
  vertical-align:top;
}
.lst-broadcast li a .program-name {
  color:#2ac1bc;
}
.lst-broadcast li p {
  margin:0;
}
.btn-more {
  position:relative;
  display:block;
  width:100%;
  background:#fff;
  border:0;
  border-top:1px solid #ddd;
  margin-top:8px;
  padding:7px 0 5px;
  font-size:inherit;
}
.blind {
  position:absolute;
  left:-9999px;
}







/**/
