body {
  margin:0;
}
.header {
  background:royalblue;
}
.header-wrap {
  padding:15px 15px 0;
}
.header .logo-area {
  display:flex;
  align-items:center;
  color:white;
}
.header .logo-area h1 {
  flex:1;
  margin:0;
  font-size:1.3em;
  text-align:center;
}
.header .logo-area .btn-hamburger {
  order:-1;
}
/*
 * :before (CSS 2.1때 문법)
 * IE8까지 지원
 * ::before (CSS 3 문법)
 * IE9까지 지원
 */
 /*
.header button::before {
  content:'';
  display:block;
  width:22px;
  height:16px;
  background:url('sp_main.png') -480px -47px no-repeat;
  background-size:519px 516px;
}
*/
.header button {
  margin:0;
  padding:0 10px;
  border:0;
  background:none;
  /* iOS */
  -webkit-apperance:none;
  /* inherit */
  color: inherit;
}
.header .input-area {}
.header .input-area .inp-search {
  display:block;
  width:100%;
  padding:8px 15px 5px;
  margin:15px 0;
  /* fonts */
  font-size:inherit;
  line-height:inherit;
  font-family:inherit;
  box-sizing:border-box;
  /* iOS */
  -webkit-appearance:none;
  border:1px solid #ddd;
  border-radius:0;
}
.header .nav-area {
  display:flex;
  background:white;
  border-bottom:1px solid #ddd;
}
.header .nav-area ul {
  flex:1;
  display:flex;
  overflow:hidden;
}
.header .nav-area a {
  min-width:55px;
  display:block;
  padding:8px 10px 6px;
  color:#000;
  text-decoration:none;
  text-align:center;
}
.header .nav-area .btn-nav {
  border-left:1px solid #ddd
}
.header .nav-area ul,
.header .nav-area li {
  padding:0;
  margin:0;
  list-style:none;
}









/**/
